<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Notice">
	<select id="selectAll" resultType="kh.picsell.dto.NoticeDTO">
		select * from notice
	</select>

	<select id="detail" resultType="kh.picsell.dto.NoticeDTO">
		select * from notice where
		notice_seq = #{notice_seq}
	</select>

	<insert id="insert" parameterType="kh.picsell.dto.NoticeDTO">
		insert into notice
		values(notice_seq.nextval, #{notice_title}, #{notice_contents},
		#{notice_writer}, sysdate, 0)
	</insert>

	<select id="getParentSeq" resultType="java.lang.Integer">
		select max(notice_seq) from notice where notice_writer = #{notice_writer}
	</select>

	<update id="viewCountUp" parameterType="java.lang.Integer">
		update notice set
		notice_view_count = notice_view_count + 1 where notice_seq =
		#{notice_seq}
	</update>
</mapper>
