<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="imageup">
	<insert id="insert" parameterType="kh.picsell.dto.WriterImageUpDTO">
		insert into imageUp values(img_seq.nextval,'nickname', #{usage}, #{copyright},#{tag}, #{file_extension}, #{oriName}, #{sysName},null,null,null,null,null)
	</insert>
	
		<select id="select" parameterType="String" resultType="kh.picsell.dto.WriterImageUpDTO">
		select * from imageUp where nickname = 'nickname'
		</select>
		
		<select id="selectSysName" parameterType="java.util.Map" resultType="kh.picsell.dto.WriterImageUpDTO">
			select * from (select imageup.*, row_number() over(order by img_seq ) as rown from ImageUp) where rown between #{start} and #{end} and  nickname = 'nickname'
		</select>
</mapper>